# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
app/agconnect-services.json
app/google-services.json

# generated inline modules
app/src/main/java/inline/

# Bundle artifacts
*.jsbundle
